<!DOCTYPE html>
<html>
<h1>Hello {{ name | capitalize}}</h1>
<h1>This is where we say FLASK! :)</h1>


<p> Un valor de una cadena: {{ name }}. </p>
<p> Un valor de un entero: {{ myindex }}. </p>
<p> Un valor de una lista: {{ mylist[3] }}. </p>
<p> Un valor de una lista, con un índice variable: {{ mylist[myindex] }}. </p>
<p> Un valor de un diccionario: {{ mydict['key'] }}. </p>
<p> Un valor de una tupla: {{ mytuple }}. </p>
<p> Un valor de una tupla por índice: {{ mytuple[myindex] }}. </p>

</html>