graphviz
ipympl
jupyterlab
matplotlib
pandas
requests
numpy
scikit-learn
scipy
seaborn
sqlalchemy
statsmodels
wheel
python-dotenv
imbalanced-learn
git+https://github.com/stefmolin/login-attempt-simulator.git@2nd_edition
git+https://github.com/stefmolin/ml-utils.git@2nd_edition
git+https://github.com/stefmolin/stock-analysis.git@2nd_edition
Data_Analysis//Anilisis_de_datos//visual-aids
